extends layout

block content
  h1= title
  
  .mopidyControls
    h3 Control Spotify
    //- button(type='button' id='sptPrevBtn') Previous
    img(id='sptPrvBtn' src='../imgs/skip-back.svg')
    //- button(type='button' id='sptPlayBtn') Play
    img(id='sptPlayBtn' src='../imgs/play-circle.svg')
    //- button(type='button' id='sptPauseBtn') Pause
    img(id='sptPauseBtn' src='../imgs/pause-circle.svg')
    //- button(type='button' id='sptNextBtn') Next
    img(id='sptNextBtn' src='../imgs/skip-forward.svg')
    

  script(src='/javascript/control.js')
