extends layout

block content
  h1= title
  
  .mopidyControls
    h3 Control Spotify
    button(type='button' id='sptPrevBtn') Previous
    button(type='button' id='sptPlayBtn') Play
    button(type='button' id='sptPauseBtn') Pause
    button(type='button' id='sptNextBtn') Next

  script(src='/javascript/control.js')
