extends layout

block content
  section(class="grid-container")
    script(src='/javascript/index.js')

    section(id='section1' class='grid-item')
      h1= title

    section(id='section2' class='spotify grid-item')
      h3 Now Playing
      p.currSong

      img(id='sptPlayBtn' src='../imgs/play-circle.svg')
      img(id='sptPauseBtn' src='../imgs/pause-circle.svg')

    section(id='section3' class='grid-item')
      h3 Office Info
      .message
        p Office Phone: 651-294-1111
        p 4HELP: 651-848-4700
        p Wifi Password: T1mmyT@mz
        p Jason: 612-968-8107

    section(id='section4' class='grid-item')
      #info_view
        #weather

    section(id='section5' class='grid-item')
      p 7 Day Forecast

    section(id='section6' class='grid-item')
      p.prevSong
      img(id='sptPrvBtn' src='../imgs/skip-back.svg')

    section(id='section7' class='grid-item')
      p.nextSong
      img(id='sptNextBtn' src='../imgs/skip-forward.svg')

    section(id='section8' class='grid-item')
      .devinfo
        p Mavboard is a student developed project utilizing nodeJS to show bus, weather and music information.
        p Current Iteration: 3
        p Next Iteration Goals: Add music information and update layout

    section(id='section9' class='grid-item')
      #info_view
        #train
        #bus
