extends layout

block content
  header
    h1= title

  section(id='one')
    h3 Developer Info
    .devinfo
      p Mavboard is a student developed project utilizing nodeJS to show bus, weather and music information.
      p Current Iteration: 3
      p Next Iteration Goals: Add music information and update layout
    h3 Message
    .message
      p Office Phone: 651-294-1111
      p 4HELP: 651-848-4700
      p Wifi Password: T1mmyT@mz
      p Jason: 612-968-8107

  section(id='two' class='spotify')
    script(src='/javascript/index.js')
    h3 Now Playing
    p.prevSong
    p.currSong
    p.nextSong
    img(id='sptPrvBtn' src='../imgs/skip-back.svg')
    img(id='sptPlayBtn' src='../imgs/play-circle.svg')
    img(id='sptPauseBtn' src='../imgs/pause-circle.svg')
    img(id='sptNextBtn' src='../imgs/skip-forward.svg')

  section(id='three')
    #info_view
      #bus
      #train
      #weather
        #weather_view(style="background:red;") Weather View
          #weather_now(style="background:green;") Weather Now
          #weather_now_img(style="background:blue;") Weather Now Img
          #weather_hourly(style="background:yellow;") Weather Hourly
