{{!< layout}}

<section class="grid-container">
  <script type="text/javascript" src="/javascript/index.js"></script>
  <section class='grid-item section1'>
    <div id="toggle-content-areas">
      <input type="checkbox" name="o-info" id='o-info' onchange="toggleContent(this)" checked>
      <label for="o-info">office info</label>

      <input type="checkbox" name="w-info" id='w-info' onchange="toggleContent(this)" checked>
      <label for="w-info">Weather info</label>

      <input type="checkbox" name="t-info" id='t-info' onchange="toggleContent(this)" checked>
      <label for="t-info">Transit info</label>
    </div>
    <h1>{{title}}</h1>
      <div id='theme-picker'>
        <a title='classic light theme' onclick="changeTheme('default')" id='light-theme'><b>Light</b></a>
        <a title='classic dark theme' onclick="changeTheme('dark')" id='dark-theme'><b>Dark</b></a>
        <a title='classic maverick blue theme' onclick="changeTheme('mav')" id='mav-theme'><b>Mav</b></a>
        <a title='colorful moving gradient background' onclick="changeTheme('colorful')" id='colorful-theme'><b>Colorful</b></a>
        <a title='linear gradient chosen from album art colors' onclick="changeTheme('dynamic')" id='dynamic-theme' class="current-theme"><b>Dynamic</b></a>
        <a class="fas fa-paperclip" title='enable clippy' id='enable-clippy' onclick="enableClippy()"></a>
      </div>
    <hr>
  </section>

  <section class='spotify grid-item section2'>
    <div class="spotify-header-row">
      <a onclick="toggleSpotifyDiv()" id="toggle-list-link">Toggle List</a>
      <a onclick="toggleSearch()" id="toggle-search-link">Search</a>
    </div>
    <div id="spotify-info-container" class="active">
      <img id='current-track-image' alt='spotify album art' crossorigin="anonymous" onchange='changeBgGradient(this)' onload="changeBgGradient(this)">

      <p id='currSong'>No Song Currently Playing</p>
    </div>
    
    <div id="spotify-interative-list-container" class="hidden">
      <ul id="ilist-ul"></ul>
    </div>

    <div id="spotify-search-container" class="hidden">
      <form id="search-form" onsubmit="searchSpotify(event)">
        <input type="search" id="query" name="query" placeholder="Search Spotify">
      </form>
      <div id='search-results'>
        <ul id='search-results-list'></ul>
      </div>
    </div>
  </section>

  <section class='grid-item section3 info-fields' id='office-info-section'>
    <h3 id="office-info-header">Office Info</h3>

    <div class="message">
      <p>Office Phone: 651-294-1111</p>
      <p>4HELP: 651-848-4700</p>
      <p>Wifi Password: T1mmyT@mz</p>
      <p>Jason: 612-968-8107</p>
    </div>
  </section>

  <section class='grid-item section4 info-fields' id='weather-info-section'>
    <h3 id="weather-info-header">Weather Info</h3>
    <div id="weather-wrapper"></div>
  </section>

  <section class='grid-item section8 spot-buttons'>
    <div id="spot-button-wrapper">
        <i class="fas fa-backward cursor-hover" onclick="window.music.sptPreviousTrack()" id='sptPrvBtn'></i>
        <i class="fas fa-play cursor-hover" onclick="window.music.sptPlay()" id='sptPlayBtn'></i>
        <i class="fas fa-pause cursor-hover" onclick="window.music.sptPause()" id='sptPauseBtn'></i>
        <i class="fas fa-forward cursor-hover" onclick="window.music.sptNextTrack()" id='sptNextBtn'></i>
      </div>
    <div id='time-bar-wrapper'>
      <p id='current-time'>0:00</p>
      <div id='time-bar-background'>
        <div id='time-bar'></div>
      </div>
      <p id='total-time'>0:00</p>
    </div>
    <div id="spotify-drag-to-components">
      <i id="delete-song" ondrop="ilistDropDelete(event)" ondragover="ilistAllowDrop(event)" title="Drag list item over to delete it" class="far fa-trash-alt"></i>
      <i class="fas fa-utensils" id="consume-toggle" title="Click to toggle the mpd consume" onclick="toggleConsume(this)"></i>
      <div id="volume-control-wrapper">
        <i class="fas fa-volume-down" onclick="toggleMute(this)" id="volume-down"></i>
        <i class="fas fa-volume-mute" onclick="toggleMute(this)" id="volume-mute"></i>
        <input type="range" name="volume" min="1" max="100" value="25" class="slide-bar" id="music-volume-control" onchange="volumeChanged(this)">
        <i class="fas fa-volume-up"></i>
      </div>
    </div>
  </section>
  <section class="grid-item section10 transit_section" id="transit-info-section">
    <h3 id="transit-info-header">Transit Info</h3>
    <div class="container blur">
      <ul class="slider" id="transit-marquee">
        <!-- dynamic transit times generated here -->
      </ul>
    </div>
  </section>
</section>

<input type="text" name="copy-to-ckipboard" id="copy-to-ckipboard" style="position: absolute; left: -999999px;">
