<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">

        <title>{{title}}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/next_trip.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link id='theme' rel="stylesheet" type="text/css" href="/stylesheets/defult_theme.css">

        <script type="text/javascript" src="/javascript/nextrip.js"></script>
        <script type="text/javascript" src="http://192.168.140.99:6680/mopidy/mopidy.min.js"></script>
        <script type="text/javascript" src="/javascript/spotify.js"></script>
        <script type="text/javascript" src="/javascript/weather.js"></script>
        <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RIsZSEBIlrc85IpIs8aeeb-EMyHh2YY&libraries=places"></script>
        <!-- Latest compiled JavaScript -->
    </head>

    <body onload="displayDynamicContent()">
        {{{body}}}
    </body>
</html>