doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/next_trip.css')
    script(src='/javascript/nextrip.js')
  body()
    block content
