doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/nextrip.js')
    script(src='/javascript/spotify.js')
    script(src='/javascript/mopidy.min.js')
    
  body(onload='loadBusTimes()')
    block content
