doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/next_trip.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    script(src='/javascript/nextrip.js')
    script(src='/javascript/mopidy.min.js')
    script(src='/javascript/spotify.js')
    script(src='/javascript/weather.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC7RIsZSEBIlrc85IpIs8aeeb-EMyHh2YY&libraries=places')
  body(onload="displayBusTimes();displayTrainTimes();weatherMinneapolis()")
    block content
